@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: #111;
  font-family: var(--font-poppins);
}

body {
  font-family: var(--font-poppins);
}

.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}